*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/androidTestResultsUserPreferences.xml
/.idea/compiler.xml
/.idea/dbnavigator.xml
/.idea/deploymentTargetSelector.xml
/.kotlin/errors/errors-1745426296585.log
/.kotlin/errors/errors-1745610342163.log
/.kotlin/errors/errors-1753551365526.log
.idea/misc.xml
